


.headers{
    width: 1200px; position: fixed; height: 94px; z-index: 999;
}

.headers .header_box{
    width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:94px;
}

.headers .header_box .nav{
    left: 366px; top: 0px; position: absolute; z-index: 116; width: 834px; height: 94px;
}

.headers .header_box .nav .nav_content{
    border: 0px solid transparent; width: 834px; padding: 0px; display: block; overflow: visible; height: auto;
}


/*header_nav*/
#header_nav li.lihover {
    text-align: center;
    background-color: transparent;
    background-position: top left;
    height: 50px;
    line-height: 50px;
    background-image: url("../images/dhover.jpg");
    background-repeat: repeat-x;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 94px;
    line-height: 94px;
    background-position: bottom center;
  /*  background-image: url("../images/menu-001_y3x0.png");*/
}

#header_nav li>a.ahover {
    color: #333333;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #005bac;
    font-weight: bold;
    font-family: Microsoft YaHei;
}
/*navs*/
#navs, #navs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#navs {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    background-position: top left;
    background-repeat: repeat-x;
    background-color: transparent;
    background-image: url(../images/png_bg.png);
    line-height: 94px;
    height: 94px;

}

#navs li.wp_subtop {
    text-align: center;
    float: left;
    height: 50px;
    line-height: 50px;
    background-image: url(../images/png_bg.png);
    background-color: transparent;
    background-position: top left;
    background-repeat: repeat;
}

#navs li.wp_subtop:hover {
    text-align: center;
    background-color: transparent;
    background-position: top left;
    height: 50px;
    line-height: 50px;
    background-image: url("../images/dhover.jpg");
    background-repeat: repeat-x;
}

#navs li.wp_subtop>a {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: block;
    font-family: arial;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

#navs li.wp_subtop>a:hover {
    color: #333333;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

#navs ul {
    display: none;
    width: 100%;
    position: absolute;
    top: 38px;
    left: -9999px;
    background-image: url(../images/png_bg.png);
    background-repeat: repeat;
    background-color: transparent;
    background-position: top left;
    padding-bottom: 3px;
    padding-top: 3px;
}

#navs ul li {
    text-align: center;
    float: left;
    background-color: #fbfbfb;
    background-position: top left;
    background-repeat: repeat;
    background-image: url(../images/png_bg.png);
    height: 25px;
    line-height: 25px;
    font-weight: normal;
}

#navs ul li a {
    white-space: nowrap;
    color: #666666;
    text-align: center;
    float: left;
    display: block;
    padding: 0 10px 0 10px;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

#navs ul li a:hover {
    color: #fff;
    text-align: center;
    float: left;
    padding: 0 10px 0 10px;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

#navs li ul.floatRight li {
    float: right;
}

#navs ul ul {
    background-image: url(../images/png_bg.png);
}


#navs li.wp_subtop:hover {
    background-color: transparent;
}

#navs li.wp_subtop>a {
    color: #000000;
}

#navs li.wp_subtop>a:hover {
    font-size: 16px;
}

#navs li.wp_subtop>a {
    font-size: 16px;
}



#navs li.wp_subtop:hover {
    background-repeat: no-repeat;
}

#navs ul li a:hover {
    font-family: Microsoft YaHei;
}

#navs ul li a {
    font-family: Microsoft YaHei;
}

#navs ul li:hover {
    background-color: transparent;
}

#navs ul li {
    background-color: transparent;
}

#navs ul li a {
    font-size: 15px;
}

#navs ul li a:hover {
    font-size: 15px;
}

#navs ul li:hover {
    height: 48px;
}

#navs ul li:hover {
    line-height: 48px;
}

#navs ul li {
    height: 48px;
    line-height: 48px;
}



#navs ul li a:hover {
    color: #005bac;
}



#navs li.wp_subtop {
    height: 94px;
}

#navs li.wp_subtop {
    line-height: 94px;
}

#navs li.wp_subtop:hover {
    height: 94px;
}

#navs li.wp_subtop:hover {
    line-height: 94px;
}

#navs li.wp_subtop:hover {
    background-position: bottom center;
}

#navs li.wp_subtop>a:hover {
    color: #005bac;
}

#navs li.wp_subtop:hover {
    background-image: url("../images/menu-001_y3x0.png");
}

#navs li.wp_subtop>a {
    font-weight: normal;
}

#navs li.wp_subtop>a:hover {
    font-weight: bold;
}

#navs li.wp_subtop>a {
    font-family: Microsoft YaHei;
}

#navs li.wp_subtop>a:hover {
    font-family: Microsoft YaHei;
}



#navs li.wp_subtop {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ededed;
}

